# deps
node_modules/
.pnp
.pnp.js

# build
.next/
out/
build/

# env — никогда не коммитим реальные ключи
.env
.env.local
.env.*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
.vercel
